

# .env pass
.env

# node_modules directory pass
node_modules/

# build result pass
build/
dist/


# System files
.DS_Store
Thumbs.db

# User specific files and directories
.3T/
.bash_history
.cache/
.chatgpt/
.cisco/
.docker/
.keras/
.lesshst
.matplotlib/
.ollama/
.ssh/
.swt/
.vscode/
3D Objects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
OneDrive/
PycharmProjects/
Saved Games/
Searches/
Tracing/
Videos/
_netrc
output.log
새 텍스트 문서.txt

# Node.js
node_modules/
